/* RESET CSS */

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    font-family: Inter, sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    line-height: 1.5;
    background-color: #182027;
    color: white;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

/* CUSTOM CSS */

h1 {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.3;
}

h3 {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 0;
}

p, th, td, h4, ol {
    font-size: 1.125rem;
    font-weight: 400;
    text-align: left;
}

p, td, ol {
    opacity: 0.6;
}

p.kr {
    font-family: "Noto Serif KR", serif;
}

p.right-aligned {
    text-align: right;
}

a {
    color: inherit;
}

div.contained {
    max-width: 680px;
    margin: auto;
}

@media screen and (max-width: 728px) {
    div.contained {
        margin-left: 24px;
        margin-right: 24px;
    }
}

div.contained.name {
    padding: 3rem 0 0 0;
}

div.contained.name p, div.text-links p, a.grid-item p {
    font-size: 0.875rem;
    opacity: 0.6;
}

div.table-header p, a.table-row p, div.table-row p {
    font-size: 0.875rem;
}

div.contained.statement {
    padding: 3rem 0;
}

div.contained.divider {
    height: 0.5px;
    background-color: white;
    opacity: 0.2;
}

div.contained.table {
    padding: 3rem 0;
}

.table {
    display: flex;
    flex-direction: column;
}

.table-header {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    margin-bottom: 0.5rem;
}

.table-header p {
    opacity: 1;
}

.market .table-header {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;  
}

.recipe .table-header {
    grid-template-columns: 2fr 1fr;
}

.table-row {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    margin-bottom: 0.5rem;
    text-decoration: none;
    color: inherit;
}

a.table-row:hover p {
    text-decoration: underline;
    opacity: 1;
}

.market .table-row {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.recipe .table-row {
    grid-template-columns: 2fr 1fr;
}

.table-header p:last-child, .table-row p:last-child {
    text-align: right;
}

a.table-row.no-link:hover p {
    opacity: 0.6;
    text-decoration: none;
    cursor: not-allowed;
}

div.p-icon {
    display: flex;
    align-items: center;
    gap: 4px;
    align-self: flex-start;
}

div.p-icon svg {
    opacity: 0.6;
}

.table-row:hover div.p-icon svg {
    opacity: 1;
}

div.grid-2 {
    display: flex;
    flex-wrap: wrap;
    column-gap: 2rem;
    row-gap: 3rem;
    padding: 0 0 3rem 0;
}

div.grid-2 .grid-item {
    flex-basis: calc(50% - 1rem);
}

a.grid-item {
    text-decoration: none;
}

a.grid-item:hover {
    text-decoration: underline;
}

a.grid-item:hover p {
    opacity: 1;
}

a.grid-item:hover div.project-image.phone-image img {
    transform: scale(1.02);
    transition: all 0.25s ease;
}

div.project-image {
    border-radius: 0.5rem;
    aspect-ratio : 1 / 1;
    overflow: hidden;
    margin-bottom: 1rem;
}

div.project-image.phone-image {
    padding-top: 15%;
}

div.project-image.mogotrade-image {
    background-color: #101A14;
}

div.project-image.vancity-image {
    background-color: #1A1110;
}

div.project-image.cwb-image {
    background-color: #1A1012;
}

div.project-image.phone-image img {
    width: 60%;
    margin: auto;
    transition: all 0.25s ease;
}

@media screen and (max-width: 728px) {
    div.grid-2 .grid-item {
        flex-basis: 100%;
    }
}

/* CASE CSS */

body.mogotrade {
    background-color: #18261E;
}

body.vancity {
    background-color: #261918;
}

body.cwb {
    background-color: #26181B;
}

header {
    max-width: 680px;
    margin: auto;
    margin-top: 1.5rem;
}

@media screen and (max-width: 728px) {
    header {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }
}

header a {
    text-decoration: none;
    font-size: 0.875rem;
    opacity: 0.6;
}

header a:hover {
    text-decoration: underline;
    font-size: 0.875rem;
    opacity: 1;
}

div.text-links {
    display: flex;
    gap: 4px;
}

div.cover-image {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 480px;
    background-color: #10151A;
    padding: 3rem;
    margin-bottom: 3rem;
}

div.cover-image.mogotrade-image {
    background-color: #101A14;
}

div.cover-image.vancity-image {
    background-color: #1A1110;
}

div.cover-image.cwb-image {
    background-color: #1A1012;
}

div.cover-image img {
    height: -webkit-fill-available;
}

div.recipe-image {
    height: 680px;
    border-radius: 8px;
    display: flex;
    overflow: hidden;
    margin-bottom: 3rem;
}

div.recipe-image img {
    object-fit: cover;
    width: -webkit-fill-available;
}

div.contained.subhead-text p {
    margin-bottom: 1.5rem;
}

div.contained.subhead-text p.above-list {
    margin-bottom: 0.5rem;
}

div.contained.subhead-text p:last-child {
    margin-bottom: 0px;
}

div.contained.subhead-text {
    margin-bottom: 3rem;
}

div.contained.subhead-text h4 {
    margin-bottom: 0.5rem;
}

ul, ol {
    padding-left: 1rem;
}

ol li:last-child, ul li:last-child {
    margin-bottom: 8px;
}

a.external-link {
    display: flex;
    align-items: center;
    gap: 4px;
    opacity: 0.6;
    font-size: 0.875rem;
}

a.external-link:hover {
    opacity: 1;
}